In [1]:
# Ashmin Jayson S6 DS Roll No : 14
# Experiment 5 : Palindrome
# Date : 29th May 2023

df1 = read.table("./d1.txt", sep=",", header = TRUE)
df2 = read.table("./d2.txt", sep=",", header = TRUE)

print('The input datasets are: ')
print(df1)
print(df2)
df3 = merge(df1, df2, by='id')
cat('MERGED DATAFRAME \n')
print(df3)

df3['cgpa'] = sapply(df3['cgpa1'], as.numeric)
df3['gpa'] = sapply(df3['cgpa2'], as.numeric)

palindrome = function(row) {
    name = row['name']
    namelist = strsplit(name, NULL)[[1]]
    revnamelist = rev(namelist)
    
    if (identical(namelist, revnamelist)) {

        cat(name, file = "output.txt", sep = "\n", append = TRUE)

    }
}

apply(df3, 1, palindrome)

maxmsr <- apply(df3[c('cgpa1','cgpa2')], 1, max, na.rm=TRUE)
cat('The maximum values in each row is : ', maxmsr)
maxmsc<- apply(df3[c('name','cgpa1','cgpa2')], 2, max, na.rm=TRUE)
cat('\nThe maximum values in each column is : ', maxmsc)

[1] "The input datasets are: "
    name id cgpa1
1 ashmin  1     5
2    anz  2     6
3    ada  3     5
4    ara  4     5
  id cgpa2
1  1     7
2  2     1
3  3     3
4  4     2
MERGED DATAFRAME
  id   name cgpa1 cgpa2
1  1 ashmin     5     7
2  2    anz     6     1
3  3    ada     5     3
4  4    ara     5     2

NULL

The maximum values in each row is :  7 6 5 5
The maximum values in each column is :  ashmin 6 7